$theme-color:#F9F9F9;

@mixin icon-btn-style($color){
    border: none;
    background-color: transparent;
    font-size: 10pt;
    color: $color;
    -webkit-transition: font-size 1s;
    transition: font-size 70ms;
    &:hover{
        font-size: 11pt;
    }
}

.save-icon-btn{
    @include icon-btn-style(#658999);
}

.edit-icon-btn{
    @include icon-btn-style(#e67f22);
}

.remove-icon-btn{
    @include icon-btn-style(#e5224d);
}

@mixin add-new-btn-style(){
    font-weight: bold;
    font-size: 11.5pt;
}

.add-new-project-btn{
    @include icon-btn-style(#3f6184);
    @include add-new-btn-style();
}

.add-new-feature-btn{
    @include icon-btn-style(#3f6184);
    @include add-new-btn-style();
}

.add-border{
    border: 1px solid red;
}

.main-content{
    width:100%;
}

.project-box{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px;
    margin-bottom:50px;
}

.project-item{
    display: grid;
    grid-template-columns: auto 40px;
    opacity: 1;
    transition: 'opacity 0.5s';
    padding: 10px 10px 0px 10px;
    height: 170px;
    border-radius: 2px;
    background-color: $theme-color !important;
    > div{
        &:nth-child(3){
            grid-column: 1 / 3;
        }
    }
}

.features_box{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    height: 100%;
    padding-top: 10px;
}

.features_list{
    width:700px;
    padding: 10px;
    border-radius: 5px;
    background-color: gainsboro;
}

.feature-item{
    display:grid;
    grid: auto auto / auto 30px;
    > div{
        &:nth-child(3){
            grid-column: 1 / 3;
        }
    }
    background-color: $theme-color !important;
    padding:10px;
    margin-top:10px;
    border-radius: 2px;
    .view-todo-list-btn{
        text-align: center;
    }
}

.feature-row{
    display:flex;
    justify-content: space-between;
    align-self: flex-end;
}

.header{
    padding:0px 0px 15px 15px;
    border: 1px solid #373737;
    height:40px;
    background-color: #373737;
    color:#fff;
    > a {
        color: $theme-color; 
    }
}

@media only screen and (max-width: 386px) {
    .header{
        height:140px;
    }
}

.todo-item{
    display:grid;
    grid-template-columns: 50px auto 100px 40px;
    .todo-grid-child{
        padding:5px;
        border-top: 1px solid #ccc;
        &:nth-child(3){
            text-align: center;
        }
        &:nth-child(4){
            text-align: center;
        }
    }
}

.view-todo-list-btn-div{
    display:grid;
    grid-template-columns: 50px auto 100px 40px;
    text-align: center;
}

.menu-bar{
    display:grid;
    grid-template-columns: auto 145px;
    padding:10px 20px 10px 10px;
    background-color: $theme-color;
}

.project-not-found-message{
    padding:20px;
    text-align: center;
    border-radius: 5px;
    background-color: $theme-color;
}

// CSS Transition 
@keyframes slideIn{
    0% {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }
    100% {
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut{
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
}

@keyframes slideUp{
    0% {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animatedlist-enter, .animatedlist-appear{
    opacity: 0;
    animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animatedlist-leave{
    animation: slideOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1.0;
}

.animatedlist-appear{
    opacity: 0;
    animation: slideUp 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// CSS Transition End
.href-link-remove:hover {
    text-decoration: none;
}

.add-new-todo{
    display:grid;
    grid-template-columns: auto 47px;
    .add-new-do-btn{
        margin-top:20px;
    }
}

.edit-remove-btn-group button{
    margin: 3px;
    width: 100%;
}

.search-input-group form{
    display: grid;
    grid-template-columns: auto 40px;
    padding: 10px 40px 0px 0px;
    div button {
        margin: 5px;
    }
}

.hint{
    color:#ccc;
    font-size: 9pt;
}

.breadcrumbs-group{
    font-size: 12pt;
    font-weight: bold;
    display:flex;
    align-items: center;
}

.time-from-now{
    font-size: 9pt;
    color: #ccc;
}

@mixin todo-status($color){
    color: $color;
    transition: opacity 0.5s;
}

.complete-status{
    @include todo-status(green);
}

.incomplete-status{
    @include todo-status(#D00915);
}

.loading-group{
    text-align: center;
    color: #ccc;
}

.feature-number{
    font-size: 9pt;
    font-weight: bold;
}

.project-title-h3{
    margin: 0px 0px 20px 0px;
}

.projects-sorting-row{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    padding:0px 10px 10px 10px;
    .search-input-group{
        flex-grow: 1;
    }
}

@media only screen and (max-width: 805px) {
    .projects-sorting-row {
        flex-wrap: wrap-reverse;
    }
    .search-input-group form{
        padding:0px 10px 10px 10px;
    }
}

.sorting-group{
    display:flex;
    padding:0px 0px 10px 10px;
    align-items: center;
    button {
        margin-top: 20px;
    }
}

.add-new-todo-btn{
    padding: 2px 10px 2px 10px;
    .add-new-todo-btn-icon{
        color: #ccc;
    }
}
